html {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow:auto;
    font-family: 'Poppins', sans-serif;
}

/* /////////////////////part1------contain header , creative agency and overlay///////////////////////////////////////////////////// */
.part1 {
    height: 100vh;
}

.header {
    z-index: 1000;
    width: 100%;
    height: 60px;
    background-color: rgba(135, 55, 21, 0.8);
    overflow: auto;
    position: fixed;
}

.icons {
    float: left;
}

.search-container {
    /* float: left; */
    /* background-color: aqua; */
    /* position: relative; */
    margin-top: 20px;
}

.search-icon {
    position: absolute;
    /* margin-top: -10px; */
    /* margin-top: 10px; */
    margin-left: 5px;

    /* padding: 10px;  */

    font-size: 20px;
    color: white;
    /* z-index: 5; */
    /* margin-top: 10px; */

}

.lable {
    position: absolute;
    margin-top: -10px;
    width: 240px;
    height: 30px;
    border-radius: 20px;
    margin-left: 50px;
    border: 2px solid white;
    /* margin-top: 10px; */
}

.house {

    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.lists {
    float: right;
}

.lists ul a li {
    display: inline-block;
    /* margin-left: 30px; */
    margin-right: 20px;
    margin-top: 15px;
    text-transform: capitalize;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lists ul a li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.lists ul a li:hover::after {
    width: 100%;

}

/* hero-image///////////////////////////////////////////////////// */
.hero-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/629403d1-44e4-4217-abc5-e967fa3b26ce.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-color: rgba(0, 0, 0, 1); */
    position: relative;
    /* z-index: 1000; */
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    top: 0;
    left: 0;
    /* z-index: 1000; */
    /* display: none; */
}

.hero-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    color: white;
}

.title1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(241, 236, 236);
    text-transform: uppercase;
    margin-top: 200px;
    text-align: center;
    font-family: Playwrite England SemiJoined;
}

.topic {
    font-family: Playwrite England SemiJoined;
    font-size: 1.5rem;
    color: rgb(211, 209, 209);
    text-align: center;
    margin: 10px 0;

}

.btn {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #b61b16cc;
    color: white;
    border-radius: 10px;

}

.btn:hover {
    background-color: rgba(78, 9, 9, 0.5);
    color: white;
}

.btn1 {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.btn1:hover {
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.clear {
    clear: both;
}

/* ///////////////////part2---------welcome ---contain title and 3 dives//////////////////////////////////////////////////////////////// */

.part2 {
    position: relative;
}

.welcome h2 {
    /* background-color: rgb(255, 71, 184); */
    font-size: 50px;
    /* height: 300px; */
    text-align: center;
    padding-top: 50px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;

}

.welcome .line {
    width: 100px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 10px;

}

.fully-customizible {
    width: 90%;
    margin: auto;
    /* font-size: x-large; */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: auto;

    /* background-color: rgb(51, 0, 255); */

}

.div1,
.div2,
.div3 {
    width: 30%;
    float: left;
    font-size: 20px;
    margin: 50px 10px;
    /* margin-left: 50px; */
    text-align: center;
    /* background-color: aqua; */
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    /* padding: 10px;  */
    box-sizing: border-box;
    position: relative;
    text-transform: capitalize;
}

.div3 {
    margin-left: 50px;
}

.div2 {
    margin-left: 50px;
}

.div1::after,
.div2::after,
.div3::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(234, 156, 122, 0.5);

    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;

}

.div1:hover::after,
.div2:hover::after,
.div3:hover::after {
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;


}

.div1:hover h3,
.div2:hover h3,
.div3:hover h3 {
    color: rgb(192, 13, 13);
}

/* //////////////////////////////part3 ---contain featured works */
.part3 {
    height: 100vh;
    background-color: rgb(246, 234, 219);
}

.featured-works {
    /* background-color: red; */
    width: 80%;
    margin: auto;

    margin-top: 30px;
    overflow: auto;
}

.work1,
.work2,
.work3 {

    float: left;
    margin-left: 100px;
    /* background-color: aqua; */
    /* height: 300px; */
    /* border: 5px solid rgb(249, 224, 191);
    border-radius: 5px; */
    /* padding: 10px;  */
    /* box-sizing: border-box; */
    position: relative;
}

.work1::after,
.work2::after,
.work3::after {
    content: '';
    position: absolute;
    display: block;
    /* width: 0;
    height: 0; */
    background-color: rgba(30, 16, 3, 0.4);

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    opacity: 0;
   

}

.work1:hover::after,
.work2:hover::after,
.work3:hover::after {
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.work-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
    color: white;
    opacity: 0;
    
}

.work1:hover .work-layer , .work2:hover .work-layer , .work3:hover .work-layer {
    opacity: 1;

}

.watch-icons i {
    font-size: 15px;
    color: white;
    margin: 5px;
    padding: 10px;
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
}

/* ////////////////////////////// part4---  contain what we offer*/

.part4 {
    height: 100vh;
    background-color: white;
}

.offers {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    overflow: auto;
    /* background-color: tomato; */
}

.offer1 , .offer2 , .offer3 {
    font-size: 18px;
    margin-left: 10px;
    width: 30%;
    height: 300px;
    float: left;
    /* margin-left: 50px; */
    /* background-color: aqua; */
     border: 5px solid rgb(249, 224, 191);
    border-radius: 5px; 
    padding: 10px; 
    box-sizing: border-box;
    
    position: relative;

}


.offer1-inline {
    font-size: 25px;
    color: black;
    text-transform: capitalize;
    margin-top: 10px ;
    display: inline-block;
    margin-bottom:10px ;
}
.offer1 h3 , .offer2 h3 , .offer3 h3 {
    margin-left: 10px;
     
}
.offer2{
    margin-left: 50px;
    margin-right: 50px;
}

.offer-icons {
    color: brown;
}

.offer1:hover h3 , .offer2:hover h3 , .offer3:hover h3 {
    color: brown;
}
.offer1:hover p , .offer2:hover p , .offer3:hover p {
    color: rgb(197, 164, 102);
}

.offer1::after , .offer2::after , .offer3::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(214, 169, 127, 0.4);

    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;

}

.offer1:hover::after , .offer2:hover::after , .offer3:hover::after {
    opacity: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* //////////////////////////////part5  why choose us */

.part5 {
    height: 100vh;
    background-color: rgb(239, 235, 230);
}

.sec1{
    float: left;
    width: 40%;
    height: 90%;
    /* background-color: aqua; */
    /* margin: auto; */
    /* margin-top: 5%; */
    overflow: auto;
    padding-top: 10%;
    margin-left: 10%;
    /* background-color: tomato; */
}
.sec1 ul{
    list-style-type: none;
    margin-top: 20px;
    /* display: inline-block; */
}

.sec2 {
    float: right;
    width: 40%;
    height: 90%;
    /* background-color: rgb(255, 0, 208); */
    /* margin: auto; */
    /* margin-top: 5%; */
    overflow: auto;
    padding-top: 10%;
    /* background-color: tomato; */
}

.sec2 img{
   
   border: 2px solid rgb(206, 198, 188);
    width: 70%;
    height: inherit;

}
.sec2 i{
    
    color: brown;
    text-align: center;
    margin-left: 10px;
}
.circle{
    /* background-color: aqua; */
    /* display: inline-block; */
    /* margin: auto; */
    margin-left: 150px;
    margin-top: 10px;
}

.prop{
    display: inline-block;
}

.sec1 ul li{
    font-size: 20px;
    margin-top: 10px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    /* display: inline-block; */
}

.sec1 p{
    margin-top: 20px;
}

.sec1 h2{
    font-size: 50px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
}
.sec1 h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: brown;
    margin-top: 10px;
}
/* ///////////////////////////////////////part6 img with overlay */
.part6{
    /* height: 50%vh; */
    background-color: rgb(69, 51, 29);
    position: relative;
    
    
}

.part6 .img{
    width: 100%;
    height: 600px;
    /* margin-top: 25%; */
    background-image: url('../images/a2b58852-aa7a-4e67-8eb0-03877eb78700.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: auto;
    
   

    
}

.part6 .overlay{
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    /* overflow: auto; */
    /* display: none; */
}

.part6-box{
    width: 80%;
    height: 400px;
    margin: auto;
    margin-left: 400px;
    margin-top: 100px;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    font-size: x-large;
    /* background-color: royalblue; */
    color: white;
    z-index: 10;
    overflow: auto;
}
.part6-icons{
    margin-top: 100px;
    margin-left: 30px;
   text-align: center;
    /* background-color: aqua; */
    /* position: relative; */
    /* margin-top: 20px; */
    float: left;
    list-style: none;
    font-size: 30px;
}

/* //////////////////////////////////part7 */
.part7{
    /* height: 100vh; */
    /* background-color: rgb(239, 235, 230); */
}
.part7 .sec7 h1{
    font-size: 50px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    text-align: center;
    /* margin-top: 50px; */
}

.part7 .sec7{
    margin: auto;
    /* background-color: slateblue; */
    margin-top: 50px;
}
.price{
    width: 80%;
    /* background-color: blue; */
    margin-left: 15%;
    overflow: auto;
    margin-top: 100px;
   
}

.sec7 .line{
    width: 100px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
}
 .price1{
    width: 25%;
    height: 500px;
    float: left;
    /* margin-left: 80px; */
    /* background-color: aqua; */
    border: 5px solid rgb(249, 224, 191);
    border-radius: 5px;
    position: relative;
 }

.price1::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 1s;
    background-color: rgba(164, 135, 108, 0.4);
    opacity: 0;
}
.price1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    cursor: pointer;
}


.circle7{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(232, 176, 64);
    margin: auto;
    margin-top: 20px;
}

.price1:hover .circle7{
    border: 2px solid black;
    cursor: pointer;
}
.circle7 h5{
    font-size: 25px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}
.price1 h4{
    font-size: 30px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
}
.price1:hover h4{
    color: rgb(232, 176, 64);
}

.ul7{
    /* background-color: aquamarine; */
    list-style-type: none;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    /* display: inline-block; */

}

.ul7 li{
    font-size: 20px;
    margin-top: 10px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    list-style: none;
    /* display: inline-block; */
}

.price1 .btn7{
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 40px;
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    padding: 10px;
    margin-left: 100px;
}
.xx{
    margin: 0px 5%;
}


/* //////////////////////////////////////part8 */

.part8{
    width: 100%;
    height: 500px;
    /* background-color: rgb(89, 212, 73); */
    margin-bottom: 100px;
    position: relative;
}
.part8-overlay{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: auto;

}

.part8-img{
    width: 100%;
    height: 500px;
    background-image: url('../images/629403d1-44e4-4217-abc5-e967fa3b26ce.webp');
    background-attachment: fixed;
}

.container8{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    /* overflow: auto; */
    /* background-color: tomato; */
}

.about-container{
    width: 90%;
    margin: auto;


}

.marketing{
    width: 30%;
   /* background-color: rgb(89, 212, 73); */
    position: absolute;
    z-index: 1000;
    /* margin: auto; */
    margin-top: 100px;
    color: white;
    float: left;
    margin-left: 150px;

    /* float: left; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.person1{
    position: relative;
}

.vv{
    margin-left: 700px;
}
.person1 img{
    margin-left: 10px;
    border-radius: 50%;
    
}
.info{
    position: absolute;
    margin-top: -80px;
    margin-left: 150px;
    text-transform: capitalize;
    font-size: 20px;
}




/* ///////////////////////////////////////////part9 */
.part9{
   
    /* height: 100vh; */
    background-color: rgb(239, 235, 230);
    margin-bottom: 100px;
} 

.container-part9{
    width: 90%;
    margin: auto;
    
    /* background-color: tomato; */
}

.sec9 h1{
    
    font-size: 50px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    text-align: center;
    /* margin-top: 70px; */
}

.sec9 .line{
    width: 100px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
}

.ourteam{
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 90px;
    /* position: relative; */
    /* overflow: auto; */
    /* background-color: rgba(234, 156, 122, 0.5); */
    /* background-color: tomato; */
}

.team1 , .team2 , .team3 {
    
    width: 25%;
    height: 450px;
    /* background-color: rgb(110, 110, 179); */
    float: left;
    text-align: center;
    /* margin-left: 50px;
    margin-top: 50px; */
    background-color: white;
    /* border: 5px solid rgb(249, 224, 191); */
    border-radius: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;
    
}
.team1::after , .team2::after , .team3::after{
    content: "" ;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 1s;
    background-color: rgba(125, 76, 58, 0.4);
}
.team1:hover::after , .team2:hover::after , .team3:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
   
    
}

    
.team1{
    margin-left: 7%;
}

.xx{
    margin: 0px 5%;
}
.team-img{
    /* width: 100px; */
    position: relative;
}

   .team-icons-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: blue; */
    /* margin-left: 20px; */
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
   }

    .team1:hover .team-icons-overlay, .team2:hover .team-icons-overlay, .team3:hover .team-icons-overlay{
     visibility: visible;
        opacity: 0.7;
        transition: all 0.3s;
    }
   .team-icons-overlay a{
    display: block;
    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: rgb(64, 125, 199);
    /* margin-top: 10px; */
    margin-left: auto;

    
   }

   .team-icons-overlay a i{
    line-height: 40px;
   }

   .team1 img, .team2 img, .team3 img{
    width: 100%;
   }

   .team-info h3{
    font-size: 30px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    margin-top: 50px;
   }

    .team1:hover h3 , .team2:hover h3 , .team3:hover h3{
        color: rgb(192, 13, 13);
    }
   p{
    font-size: 20px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    margin-top: 10px;
    color: rgb(180, 176, 176);
    margin-top: 30px;
   }

   .team1:hover p , .team2:hover p , .team3:hover p{
    color: rgb(96, 37, 93);   
}


/* //////////////////////////////////////////////////////part10 */

.part10{
    height: 100vh;
    /* background-color: rgb(134, 177, 218); */
}
.container-part10{
    width: 90%;
    margin: auto;
    /* background-color: tomato; */
}
.sec10 h1{
    font-size: 50px;
    color: black;
    font-family: Playwrite England SemiJoined;
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
}
.line{
    width: 100px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 10px;
}
.news{
    width: 100%;
    margin: auto;
    margin-left: 10.5%;
    margin-top: 50px;
    /* background-color: tomato; */
}
.news1{
    width: 25%;
    /* background-color: violet; */
    float: left;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.news1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 1s;
    background-color: rgba(125, 76, 58, 0.4);
    border-radius: 5px;
    opacity: 0;
    z-index: -1;
}
.news1:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.7;
}


.news1 img{
    margin-top: 20px;
    border-radius: 10px;
     position: relative;
    /* z-index: 100;  */
   
    
}
.ff{
    margin: 0 5%;
}
.pp{
    margin: 10px 0;
    color: #000;
}
.hh{
    /* margin-bottom: 10px; */
    text-transform: capitalize;
    color: #000;
}
.news1-icons a i{
    font-size: 30px;
    margin-top: 20px;
    padding: 10px;
    /* border-radius: 50%; */
}
.news1 h4{
    margin-bottom: 10px;
    text-transform: capitalize;
}


/* /////////////////////////////////////////////////////part11 */

.part11{
    height: 400px;
    background-color: rgb(246, 222, 213);
}

.sec11{
    width: 80%;
    margin: auto;
    text-align: center;
    /* margin-top: 50px; */
    /* background-color: tomato; */
}

.sec11 img{
   
    border-radius: 5px;
    margin-top: 20px;
}

.sec11-icons{
    font-size: 20px;
   margin-top: 20px;
    /* border-radius: 50%; */
}

.sec11-icons a i{
    color: white;
    margin: 5px;
    padding: 10px;
    border: 2px solid white;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
}

.sec11-icons a i:hover{
    background-color: rgb(41, 40, 39);
    color: white;
}

